/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #fff;
  font: 1em "Open Sans", Helvetica, Arial, sans-serif;
  color: #343434;
  font-size: small;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  font-size: 140%;
  margin-top: 4em;
  margin-bottom: 2em;
  border-bottom: 3px solid #eee;
  padding-bottom: 0.5em;
}

h2 {
  color: #555555;
  font-size: 130%;
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: normal;
}

h3 {
  color: #555555;
  font-style: italic;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: normal;
}

blockquote {
  margin: 2em;
  padding: 1em;
  border-left: solid 0.5em #cccccc;
  background-color: #eeeeee;
}

body img {
  float: right;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  max-width: 50%;
  height: auto;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
 text-decoration: none;
 color: #a00;
}

a:hover { color: #F9895A; }
/*a:visited { color: #aaa; }*/

table {
  font-size: inherit;
  font: 100%;
}

li {
  margin-left: 3em;
  margin-bottom: 1em;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  margin-left: 2em;
  margin-bottom: 0em;
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

ul.posts .author {
  margin-left: 1em;
  margin-right: 1em;
  color: #a00;
}

.pagination {
  margin: 7em 0 0 0;
  text-align: center;
}

.comments {
  margin-top: 5em;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 100%;
  text-align: left;
  width: 65%;
  max-width: 50em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

/*    Header    */

.site .header .image {
  background-image: url('/assets/images/header.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 321px;
  box-shadow: 2px 2px 1px #888888;
  border-radius: 2px;
}

.site .header a {
  text-decoration: none;
}

/*    TITLE OPTIONS   */

.site .header .title {
  text-align: right;
  font-family: "Ubuntu";
  transition: color 1s;
}

.site .header .title:hover {
  color: #CBC4AB;
}

.maintitle a {
  color: #a00;
  font-size: 2.5em;
}

.subtitle {
  margin-top: 0.5em;
  color: #a00;
  font-size: 1em;
  margin-bottom: 1em;
}


/*    MENU OPTIONS  */

.site .menu {
  margin-top: 1em;
}

.site .menu a {
  color: #aaa;
  margin-right: 1em;
  transition: color 1s;
}

.site .menu a:hover {
  color: #a00;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #a00;
  border-top: 2px solid #a00;
}

.site .meta {
  color: #aaa;
}

/*    Footnotes    */

.footnotes {
  border-top: 4px dashed #eee;
  margin-top: 6em;
}

.footnotes hr {
  display: none;
}

/*    FOOTER    */

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 7em;
  padding-bottom: 4em;
  overflow: hidden;

}

.site .footer .contact {
  text-align: center;
  margin: 0 10em 0 10em;
}

.site .footer .contact a {
  color: #8085C1;
}



/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.ptitle {
  font-size: 160%;
  line-height: 1.5em;
  font-family: "Ubuntu";
  margin-top: 1.5em;
  margin-bottom: 2em;
  color: #a00;
}



.post ul, .post ol {
  margin-left: 2em;
}

.post li {
  margin-bottom: 1em;
}

code,
pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  white-space: nowrap;
  background-color: #f9f2f4;
  border-radius: 4px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 1.428571429;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

pre.prettyprint {
  margin-bottom: 20px;
}

pre code {
  padding: 0;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}}

/*****************************************************************************/
/*
/* Mobile CSS
/*
/*****************************************************************************/

@media only screen and (max-device-width: 480px) {
  .site {
    margin: 0 4% 0 4%;
    width: 100%;
    max-width: 100%;
  }

  .site .header .image {
    display: none;
  }
  
  body {
    font-size: 70%;
  }

  blockquote {
    margin: 0 2% 0 2%;
  }

  li {
    margin:  0 4% 0 2%;
  }

  .site .footer .contact {
    margin: 0 2% 0 2%;
  }
  
  pre {
    overflow: auto;
    font-size: 100%;
  }
}
