/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #fff;
  font: 14pt "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #343434;
  text-align: left;
  width: 65%;
  max-width: 518pt;
  margin: 2em auto 2em;
  line-height: 1.62;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; 
}

h1 {
  font-size: 140%;
  margin-top: 3em;
  margin-bottom: 2em;
  border-bottom: 3px solid #eee;
  padding-bottom: 0.5em;
  font-weight: lighter;
}

h2 {
  color: #555555;
  font-size: 130%;
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: normal;
}

h3 {
  color: #555555;
  font-style: italic;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: normal;
}

blockquote {
  margin: 2em;
  padding: 0.2em 1em;
  border-left: solid 0.5em #cccccc;
  background-color: #eeeeee;
}

body main img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em;
  max-width: 100%;
  height: auto;
}

figure {
  margin: 2em 0;
}

figure figcaption {
  color: #666;
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
 text-decoration: none;
 color: #a00;
/* transition: color 0.5s;
*/}

a:hover {
  color: #F9895A;
  border-bottom: 1px dotted #F9895A;
}

table {
  font-size: inherit; 
  font: 100%;
  margin: 2em 0em;
  border-collapse: collapse;
}

table th, td {
  padding: 0.3em 1em;
  border: 1px solid #aaa;
  border-radius: 2px;
}

table th {
  font-weight: bold;
}

li {
  margin-left: 3em;
  margin-bottom: 1em;
}

time {
  color: #aaa;
  font-size: 0.8em;
}

sup {
  font-size: 0.83em;
  vertical-align: super;
  line-height: 0;
  font-weight: bold;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

/*    HEADER    */

body header img {
  display: block;
  overflow: hidden;
  margin: 0 0 1em 0;
  height: auto;
  width: 100%;
  max-width: 50em;
  box-shadow: 2px 2px 1px #888888;
  border-radius: 2px;
}

body header a {
  text-decoration: none;
}

body header h1 {
  text-align: center;
  font-family: "Ubuntu";
  color: #a00;
  font-size: 2.5em;
  border: none;
  margin: 0;
  line-height: 1em;
  font-weight: normal;
}

/*    NAV  */

body header nav {
  text-align: center;
  margin: 1.5em 0em;
  font-size: 14pt;
  font-family: "Ubuntu";
  font-weight: normal;
}

body header nav a {
  color: #a00;
  margin: 0em 0.5em;
}

/*    Site footer    */

body > footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 7em;
  padding-bottom: 4em;
  overflow: hidden;
}

body > footer p.license {
  width: 45%;
  float: left;
  text-align: left;
}

body > footer p.colophon {
  width: 45%;
  float: right;
  text-align: right;
}

main header h1 {
  font-size: 2em;
  text-align: left;
  margin: 1em 0;
  font-weight: lighter;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

article header {
  margin: 1em 0;
}

article > footer p {
  color: #aaa;
}

main nav ul {
  text-align: left;
  list-style-type: none;
  margin: 0;
}

main nav li {
  margin: 0;
  line-height: 1.75em;
}

main nav li time {
  float: right;
  text-align: right;
}

body img.avatar {
  float: left;
  margin: 0 2em 0 0;
}

div.toc {
  display: inline-block;
}

main nav p {
  text-align: center;
}

main .divider {
  font-size: 1.5em;
  margin: 3em 0;
  text-align: center;
  color: #a00;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

main article header {
  margin-bottom: 3em;
}

main article header h1 {
  font-size: 160%;
  line-height: 1.5em;
  font-family: "Ubuntu";
  margin: 1.5em 0 0 0;
  color: #a00;
  text-align: left;
  font-weight: lighter;
}

aside {
  color: #aaa;
  font-style: italic;
  margin: 2em 0em;
  border-top: 2px solid #cccccc;
  border-bottom: 2px solid #cccccc;
}

article ul, article ol {
  margin-left: 1em;
}

article li {
  margin-bottom: 1em;
}

article #markdown-toc {
  margin-left: 1em;
}

article #markdown-toc li {
  margin: 0em;
}

code,
pre {
  font-family: Menlo, "Courier New", monospace;
}

code {
  padding: 2px 4px;
  font-size: 95%;
  color: #black;
  white-space: nowrap;
  background-color: #f9f2f4;
  border-radius: 4px;
  white-space: pre-wrap;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 1.428571429;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

pre.prettyprint {
  margin-bottom: 20px;
}

pre code {
  padding: 0;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}

article > footer {
  font-size: 100%;
  margin: 5em 0 0 0;
  border: none;
}

article > footer section {
  padding: 2em 0;
}

/*    Footnotes    */

.footnotes {
  border-top: 4px dashed #eee;
  margin-top: 6em;
}

.footnotes hr {
  display: none;
}

.footnotes li {
  margin-left: 0;
  font-size: 80%
}

/********** handling embedded iframes **********/

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*****************************************************************************/
/*
/* Mobile CSS
/*
/*****************************************************************************/

@media only screen and (max-device-width: 800px) {
  * {
    margin: 1%;
    padding: 0;
  }

  body {
    width: 100%;
    max-width: 100%;
    font-size: 70%;
  }

  body header img {
    display: none;
  }
  
  body header nav {
    text-align: center;
    font-size: 1.5em;
  }

  blockquote {
    margin: 0 2% 0 2%;
  }

  li {
    margin:  0 4% 0 2%;
  }
  
  pre {
    overflow: auto;
    font-size: 100%;
  }
}

/*****************************************************************************/
/*
/* Print CSS
/*
/*****************************************************************************/

@media print {
  
  body header img, nav {
    display: none;
  }

  body footer {
    margin: 0 2% 0 2%;
  }

  body {
    margin: 0 0 0 0;
    width: 95%;
    max-width: 100%;
    font: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: x-small;
    color: black;
    line-height: 12pt;
  }
}
