/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #fdfdfd;
  font: 13.34px "Open Sans", Helvetica, Arial, sans-serif;
  color: #555555;
  font-size: small;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  font-size: 150%;
  margin-top: 4em;
  margin-bottom: 2em;
  border-bottom: 3px solid #eee;
  padding-bottom: 0.5em;
}

h2 {
  color: #555555;
  font-size: 130%;
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: normal;
}

h3 {
  color: #555555;
  font-style: italic;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: normal;
}

blockquote {
  margin: 2em;
  padding: 1em;
  border-left: solid 0.5em #cccccc;
  background-color: #eeeeee;
}

body img {
  float: right;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  max-width: 50%;
  height: auto;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
 text-decoration: none;
 color: #a00;
}

a:hover { color: #F9895A; }
a:visited { color: #aaa; }

table {
  font-size: inherit;
  font: 100%;
}

li {
  margin-left: 3em;
  margin-bottom: 1em;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  margin-left: 2em;
  margin-bottom: 0em;
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

ul.posts .author {
  margin-left: 1em;
  margin-right: 1em;
  color: #a00;
}


/* Pagination */
/*!
 * Bootstrap v2.3.2
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pagination {
  margin: 5em 0;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination ul > li {
  display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999999;
  cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: left;
  width: 65%;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

/*    Header    */

.site .header .image {
  background-image: url('http://mlincoln.files.wordpress.com/2013/05/cropped-philips-galle-1582-cr.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 317px;
  box-shadow: 2px 2px 5px #888888;
}

.site .header a {
  text-decoration: none;
}

/*    TITLE OPTIONS   */

.site .header .title {
  text-align: right;
  font-family: "Ubuntu";
  transition: color 1s;
}

.site .header .title:hover {
  color: #CBC4AB;
}

.maintitle a {
  color: #a00;
  font-size: 2.5em;
}

.subtitle {
  margin-top: 0.5em;
  color: #a00;
  font-size: 1em;
  margin-bottom: 1em;
}


/*    MENU OPTIONS  */

.site .menu {
  margin-top: 1em;
}

.site .menu a {
  color: #aaa;
  margin-right: 1em;
  transition: color 1s;
}

.site .menu a:hover {
  color: #a00;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #a00;
  border-top: 2px solid #a00;
}

.site .meta {
  color: #aaa;
}

/*    Footnotes    */

.footnotes {
  border-top: 4px dashed #eee;
  margin-top: 6em;
}

.footnotes hr {
  display: none;
}

/*    FOOTER    */

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 7em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.ptitle {
  font-size: 2em;
  line-height: 1.5em;
  font-family: "Ubuntu";
  margin-top: 1.5em;
  margin-bottom: 2em;
  color: #a00;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 2em;
}

.post li {
  margin-bottom: 1em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
