<title>{{ page.title }} - {{ site.data.site.title }}</title>

<!-- Meta tags -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
<meta name="author" content="{{ site.data.contact.name }}">
<meta name="keywords" content="{{ page.tags | join: "," }}">

<link rel="icon" type="image/png" href="/favicon.png">

<!-- RSS feed -->
<link rel="alternate" type="application/rss+xml" title="{{ site.data.site.title }}" href="{{ site.url }}/feed.xml">

<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="/css/syntax.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="/css/main.css">

<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu|Open+Sans:300italic,300' rel='stylesheet' type='text/css'>
