<title>{{ page.title }} - {{ site.data.site.title }}</title>

<!-- Meta tags -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
<meta name="author" content="{{ site.data.contact.name }}">
<meta name="keywords" content="{{ page.tags | join: "," }}">

<link rel="icon" type="image/png" href="/favicon.png">

<!-- RSS feed -->
<link rel="alternate" type="application/rss+xml" title="{{ site.data.site.title }}" href="{{ site.url }}/feed.xml">

<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<!-- CSS -->
<link rel="stylesheet" href="/assets/css/poole.css">
<link rel="stylesheet" href="/assets/css/syntax.css">
<link rel="stylesheet" href="/assets/css/hyde.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu|Open+Sans:300italic,300' rel='stylesheet' type='text/css'>

{% if site.enable_analytics %}
<!-- Google Analytics -->
{% include googleanalytics.js %}
{% endif %}
