<!-- A header to tie together separate posts for my "Charting the Rijksmuseum" series -->

<aside>
	<p>This is from part of a series of posts on my <a href="http://michellesmithcollaboratory.umd.edu/summer-gas-set-high-bar">work this summer</a> in the Michelle Smith Collaboratory exploring possibilities for digital art historical practice:</p>


	<ol>
		<li><a href="/2013/09/18/iconclass-and-charting-the-rijksmuseum.html">Iconclass and Charting the Rijksmuseum</a></li>
		<li><a href="/2013/10/04/charting-the-rijksmuseum-digging-deeper.html">Charting the Rijksmuseum: Digging Deeper</a></li>
		<li><a href="/2013/11/11/the-problem-of-media.html">Charting the Rijksmuseum: The Problem of Media</a></li>
	</ol>


	<p>After they are completed, I'll be assembling all the text and figures into a single entry on the <a href="/projects">Projects page</a>.</p>
	<p>You can view and download data extracted from the Rijksmuseum collections on a <a href="https://docs.google.com/spreadsheet/ccc?key=0AsjvWNf_U5QbdHp2S0xSUzdmWnVpSGFFdWN1cDZMcHc&amp;usp=sharin">Google spreadsheet</a> I've published.</p>
</aside>
