<div class="sidebar">
  <div class="container sidebar-sticky">
    <a href="{{ site.data.site.banner.source }}"><div class="circular"></div></a>
    <div class="sidebar-about">
      <h1><a href="/">{{ site.data.site.title }}</a></h1>
    </div>

    <p class="sidebar-nav">
      {% for link in site.data.nav %}
           <a href="{{ link.url }}">{{ link.title }}</a>{% if forloop.last %}{% else %} | {% endif %}
      {% endfor %}
    </p>

    <p class="social-nav">
    <a href="https://twitter.com/matthewdlincoln"><i class="fa fa-twitter"></i></a>
    <a href="https://github.com/mdlincoln"><i class="fa fa-github"></i></a>
    <a href="/feed.xml"><i class="fa fa-rss"></i></a>
    <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#109;&#108;&#105;&#110;&#099;&#111;&#108;&#049;&#064;&#117;&#109;&#100;&#046;&#101;&#100;&#117;"><i class="fa fa-inbox"></i></a>

    <p class="license">All work on "<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">matthewlincoln.net</span>" by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">{{ site.data.site.title }}</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>. <a href="/pages/colophon.html">Colophon</a></p>
  </div>
</div>
