{% assign trips = site.data.travel | sort: 'datestart' %}
{% for trip in trips %}
<p>
{% if trip.url %}
  <a href="{{ trip.url }}">{{ trip.venue }}</a>
{% else %}
  {{ trip.venue }}
{% endif %}
<br>
{% if trip.location %}
  {{ trip.location }}: 
{% endif %}
{% if trip.dateend %}
  {{ trip.datestart | date: '%B %-d, %Y' }} - {{ trip.dateend | date: '%B %-d, %Y' }}
{% else %}
  {{ trip.datestart | date: '%B %-d, %Y' }}
{% endif %}
{% if trip.freetext %}
  {{ trip.freetext | markdownify }}
{% endif %}
</p>
{% endfor %}
