<!DOCTYPE html>
<html>
    <head>
        {% include html_head.html %}
    </head>
    <body>

      <div class="container">
        <div class="site">
          <div class="header">
            {% include header.html %}
          </div>
          {% if page.show_title %}
          <div class="ptitle">{{ page.title }}</div>
          {% endif %}
          <div class="content">
                {{ content }}
            </div>
            <div class="footer">
              {% include footer.html %}
            </div>
            
        </div> 
    </body>
</html>
