---
layout: default
---
{% include coins.html %}

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date }}">{{ page.date | date_to_string }}</time>
  {{ content }}
</div>

<p class="meta">Tagged in: {% for tag in page.tags %}<code><a href="/tags/{{ tag | downcase | replace: ' ', '_' }}.html">{{ tag }}</a></code>{% if forloop.last %}{% else %} {% endif %}{% endfor %}</p>


{% if site.enable_disqus %}
{% if page.comments %}
	<section class="comments">
	{% include disqus.html %}
	</section>
{% endif %}
{% endif %}
