---
layout: default
---
<div class="ptitle">{{ page.title }}</div>

<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
</div>


<div class="comments">

<p class="meta">Related posts:
{% for post in site.related_posts limit:5 %}
{% if post.id == page.id %}
<!-- Do nothing -->
{% else %}
<a href="{{ post.url }}">{{ post.title }}</a>{% if forloop.last %}{% else %}; {% endif %}
{% endif %}
{% endfor %}</p>
</div>

{% if page.comments %} 
<div class="comments">
{% include disqus.html %}
</div>
{% endif %}