---
layout: default
---
{% include twitter_card.html %}
{% include coins.html %}

<div class="post">
  <h1 class="post-title">{{ page.title | markdownify }}</h1>
  <time datetime="{{ page.date }}">{{ page.date | date_to_string }}</time>
  {% if page.aside %}
  <aside>{{ page.aside | markdownify }}</aside>
  {% endif %}
  {{ content }}
</div>

<hr/>
<p>Cite this post:</p>
<p class="citation">{% include citation.html %}</p>
<hr/>

<p class="meta">Tagged in: {% for tag in page.tags %}<code><a href="/tags/{{ tag | downcase | replace: ' ', '_' }}.html">{{ tag }}</a></code>{% if forloop.last %}{% else %} {% endif %}{% endfor %}</p>
