<!DOCTYPE html>
<html>
    <head>
        {% include html_head.html %}
        <META http-equiv="refresh" content="5;URL={{ page.redirect.from }}">
    </head>
    <body class="theme-lincoln">
      {% include sidebar.html %}
        <div class="content container">
          {% if page.show_title %}
            <h1 class="post-title">{{ page.title }}</h1>
          {% endif %}
          <p>This page links to an outside site. If your browser does not redirect in 5 seconds, click the link below:</p>
          <p><a href="{{ page.redirect.from }}">{{ page.redirect.from }}</a></p>
        </div>
    </body>
</html>
