---
layout: default
show_title: true
---

<nav>
    <ul>
    {% for post in site.posts %}
    {% if post.tags contains page.tagname %}
        {% unless post.next %}
            <h1>{{ post.date | date: '%Y' }}</h1>
        {% else %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
            {% if year != nyear %}
                <h1>{{ post.date | date: '%Y' }}</h1>
            {% endif %}
        {% endunless %}
        {% include postlink.html %}
    {% endif %}
    {% endfor %}
    </ul>
</nav>